.ChatForm {
    border: 0 solid #ccc;
    border-top-width: 1px;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.ChatForm__write {
    flex: 1;
}

.ChatForm__form{
    line-height: 0;
    display: flex;
}

.ChatForm__input {
    flex: 1;
    padding: 13px;
    border: 0;
    font-size: 12px;
}

.ChatForm__buttons {
    display: flex;
    align-items: center;
    padding: 5px 10px 0;
}