.ChatSuggestions {
    margin: 2px 20px 10px;
}

.ChatSuggestions button {
    border: 0;
    font-size: 12px;
    background-color: white;
    border-bottom: 1px solid salmon;
    margin: 2px;
    padding: 7px;
    border-radius: 3px;
}