.Toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 3px;
}

.Toolbar__MenuIcon {
    height: 40px;
    width: 40px;
    margin: 5px;
    border-radius: 50%;
    background-color: salmon;
    display: flex;
    align-items: center;
    justify-content: center;
}