html, body {
    padding: 0;
    margin: 0;

    background-color: #eee;
    font-family: "Arial", sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.App__Center {
    flex: 1;
}

.App__Header {
    position: fixed;
    width: 100%;
}