.ChatMessage__container {}

.ChatMessage__container--user {
    text-align: right;
}

.ChatMessage__container--user .ChatMessage__text {
    background-color: aliceblue;
}

.ChatMessage__text {
    background-color: white;
    border-radius: 3px;
    margin: 2px 20px;
    display: inline-block;
    padding: 3px 6px;
    max-width: 75%;
    box-shadow: 0 5px 6px -6px #929292;
}